<h2 style="text-align:center;">Welcome!</h2>

<h3 style="text-align:center;"><%= link_to "Administrators", admin_dashboard_index_path %></h3>
<h3 style="text-align:center;"><%= link_to "Merchants", merchants_path %></h3>
