<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text">Merchants Dashboard Index</p>
  </nav>
</div>

<body>
  <% @merchants.each do |merchant| %>
    <ul>
      <li><%= link_to merchant.name, merchant_dashboard_index_path(merchant) %></li>
    </ul>
  <% end %>
</body>